/*Top Photo Part*/
.topphoto {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .topuser{
    height: 900px;
    z-index: -1;
    width: 102.1%;
    margin-left: -20px;
    margin-top: -20px;
  }
  .topphoto h2{
    color: white;
    font-weight: bold;
    font-size: 40px;
    position: absolute;
    z-index: 1;
    text-align: center;
  }
  .bbutton{
    font-size: 24px;
    font-weight: bold;
    background-color: #008db1;
    border: .5px solid white;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 14px;
    height: 75px;
    width: 250px;
    position: absolute;
    margin-top: 275px;
    margin-left: 300px;
  }
  .ybutton{
    font-size: 24px;
    background-color: #c3bb38;
    font-weight: bold;
    border: .5px solid white;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 14px;
    height: 75px;
    width: 250px;
    position: absolute;
    margin-top: 275px;
    margin-left: -300px;
  }
  .ybutton:hover{
    cursor: pointer;
    background-color: #f4eb49;
  }
  .bbutton:hover{
    cursor: pointer;
    background-color: #00a4d3;
  }
  .limage{
    height: 300px;
    margin-left: 50px;
    margin-right: 50px;
  }
  .left h2{
    text-align: center;
    font-weight: bold;
    font-size: 27px;
  }
  .left p{
    font-size: 18px;
    text-align: center;
  }
  .right h2{
    text-align: center;
    font-weight: bold;
    font-size: 27px;
  }
  .right p{
    font-size: 18px;
    text-align: center;
  }
  .below{
    margin-top: 25px;
    display: flex;
    justify-content: center;
  }
  .versailes{
    height: 250px;
    margin-left: 150px;
  }
  .ben{
    height: 250px;
    margin-right: 150px;
  }
  .under{
    display: flex;
    margin-top: 50px;
  }
  .under p{
    text-align: center;
    font-weight: 18px;
    margin-top: 50px;
  }
  .uh2{
    text-align: center;
    font-weight: bold;
    font-size: 27px;
  }