.vh1{
    text-align: center;
}
.vvoteform{
  border: 2px solid #165a72;
  border-radius: 7px;
  scrollbar-width: thin;
  background-color: #f2fbff;
  align-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  height: 225px;
  max-height: 500px;
  padding: 10px;
  margin-top: 10px;
  margin-left: 15%;
}
.vaddv{
    text-align: center;
}
.vindsel{
  border: 1px solid gray;
  border-radius: 4px;
  margin-left: 8px;
  background-color: #165a72;
  color: white;
  width: 175px;
  height: 30px;
  font-size: 17px;
  margin-top: 25px;
  display: flex;
}
.vaddvote{
  border: 1px solid gray;
  border-radius: 4px;
  margin-left: 8px;
  background-color: #165a72;
  color: white;
  width: 175px;
  height: 30px;
  font-size: 17px;
  margin-top: 25px;
  display: block;
  text-align: center;
}
.vaddvote:hover{
  cursor: pointer;
  background-color: #8badb9;
}
.vgetstats{
    border: 1px solid gray;
    border-radius: 4px;
    margin-left: 8px;
    background-color: #165a72;
    color: white;
    width: 175px;
    height: 30px;
    font-size: 17px;
    margin-top: 25px;
    display: block;
    margin: 0 auto; /* Center horizontally */
}
.vgetstats:hover{
  cursor: pointer;
  background-color: #8badb9;
}
.vh2{
    text-align: center;
}
.vvsheet{
  border: 2px solid #165a72;
  border-radius: 7px;
  scrollbar-width: thin;
  background-color: #f2fbff;
  align-content: center;
  align-items: center;
  width: 70%;
  height: 150px;
  max-height: 500px;
  padding: 10px;
  margin-top: 35px;
  margin-left: 15%;
}
.vvotesheet{
    display: flex;
    font-size: 17px;
    text-align: center;
    justify-content: center;
}
.vvotesub{
    margin-left: 25px;
}
.vstats{
  border: 2px solid #165a72;
  border-radius: 7px;
  scrollbar-width: thin;
  background-color: #f2fbff;
  align-content: center;
  align-items: center;
  width: 70%;
  height: 150px;
  max-height: 500px;
  padding: 10px;
  margin-top: 35px;
  margin-left: 15%;
}
.vstatsh2{
    text-align: center;
}
.vstainfo{
    display: flex;
    font-size: 17px;
    justify-content: center;
}
.vaverage, .vrange{
    margin-left: 50px;
}
/*Top Photo Part*/
.topphoto {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .topvoting{
    height: 900px;
    z-index: -1;
    width: 102.1%;
    margin-left: -20px;
    margin-top: -20px;
  }
  .topphoto h2{
    color: white;
    font-weight: bold;
    font-size: 40px;
    position: absolute;
    z-index: 1;
    text-align: center;
  }
  .bbutton{
    font-size: 24px;
    font-weight: bold;
    background-color: #008db1;
    border: .5px solid white;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 14px;
    height: 75px;
    width: 250px;
    position: absolute;
    margin-top: 275px;
    margin-left: 300px;
  }
  .ybutton{
    font-size: 24px;
    background-color: #c3bb38;
    font-weight: bold;
    border: .5px solid white;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 14px;
    height: 75px;
    width: 250px;
    position: absolute;
    margin-top: 275px;
    margin-left: -300px;
  }
  .ybutton:hover{
    cursor: pointer;
    background-color: #f4eb49;
  }
  .bbutton:hover{
    cursor: pointer;
    background-color: #00a4d3;
  }
  .vvoteform1{
    border: 2px solid #165a72;
    border-radius: 7px;
    scrollbar-width: thin;
    background-color: #f2fbff;
    align-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    height: 75px;
    max-height: 500px;
    padding: 10px;
    margin-top: 10px;
    margin-left: 15%;
  }
  .vvuseful {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }